/*
	Author: LAB
	Styling for Pattar

    LICENSE: MIT
*/

body, .absolute-full-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Comfortaa', cursive;
    background: #eee;
    margin: 0;
    padding: 0;
}

.enabled {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1) !important;
}

#halt-notice {
    position: absolute;
    background: black;
    color: white;
    font-size: 4.5em;
    z-index: 999;
    opacity: 0;
    transform: scale(0);
    transition: 0.45s;
    pointer-events: none;
}

#drawpad-container {
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#main-canvas {
    cursor: pointer;
    z-index: 0;
}

footer {
    position: absolute;
    background: #eee;
    color: #333;
    margin: 1em;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

footer h4, footer h5 {
    display: inline-block;
    background: #eee;
    color: #333;
    padding: 0.5em 1em;
    margin-top: 0.1em;
}

@media only screen and (max-width: 648px) {
    footer {
        bottom: 3em;
    }
}

.interactive {
    pointer-events: auto;
}

#brand {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.3em;
    padding: 0 0.5em;
    background: #eee;
    color: #333;
}

#brand, footer {
    pointer-events: none;
}

#controls {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    pointer-events: none;
    margin: 1em;
}

#controls button, #now-playing div {
    margin-bottom: 0.1em;
}

#controls.highlight {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
}

.toggle-target {
    transition: 0.2s;
}

.toggle-disabled {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-inline-row {
    display: inline-flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.margin-bottom {
    margin-bottom: 0.2em;
}

.margin-bottom-double {
    margin-bottom: 0.5em;
}

.margin-top-double {
    margin-top: 0.5em;
}

.margin-right {
    margin-right: 0.2em;
}

.generic-label {
    background: #eee;
    color: #333;
    display: flex;
    justify-content: center;
    height: 25px;
}

.generic-label span {
    padding: 3px 1em;
}
