/*
	Author: LAB
	Button stylesheet

    LICENSE: MIT
*/

.button {
    font-family: Comfortaa;
    min-width: 90px;
    display: inline-block;
    font-size: 1.44em;
    padding: 3px 1em;
    background: #EEE;
    color: #333;
    border: 1px solid #EEE;
    transition: 0.2s;
}

.button:hover {
    cursor: pointer;
    background: #333;
    color: #EEE;
    border: 1px solid #EEE;
}
